






    <div class="loginMainDv">
        <div class="loginContainer">
            <div class="loginLeftBg"></div>
            <div class="loginForm">
                <h2 class="headingTitle">Login here..</h2>
                <div class="loginRow">
                    <label>User Name</label>
                    <input type="text" class="TextBox form-control" /> 
                    <span class="fa fa-user"></span>
                </div>
                <div class="loginRow">
                    <label>Password</label>
                    <input type="password" class="TextBox form-control" />
                    <span class="fa fa-key"></span>
                </div>
                <div class="loginRow">

                    <button class="btn loginBtn" (click)="onLogin()">Login</button>
                </div>
                <div class="clr"></div>
            </div>
        </div>
    </div>


<!--<div class="container">
    <b>UserName</b>
    <p><input type="text" class="form-control" /></p>
    <b>Password</b>
    <p><input type="password" class="form-control" /></p>
    <button class="btn active" (click)="onLogin()">Login</button>
    <button class="btn active">Reset</button>
</div>-->
